<%- include('../partials/header') %>

<form action="/skills" method="POST" autocomplete="off"><br>
  <label>Add Name: </label><br>
  <input type="text" name="name">
  <br><br>
  <label>Add Skill: </label><br>
  <input type="text" name="skill">
  <br><br>
  <button type="submit">Save New Skill</button>
</form>

<%- include('../partials/footer') %>